# Работа с мессенджером Макс
MAX_BOT_TOKEN=<ваш-токен>

# Работа с бд
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_SSL_MODE=

# Настройка сервера
PORT=
LOG_LEVEL=
SECRET_KEY=